# Build and test artifacts
__pycache__/
.pytest_cache/
/tests/MPh.ini
/dist/
/tools/dist/
/tools/docs/
/tools/coverage/
/.coverage
/coverage.xml

# Local development
/ignore/
/.ignore/
/venv/
/.venv/
/local/
/.local/
.vscode/
.idea/
.spyproject

# Auto-created files
Thumbs.db
.DS_Store
