/develop/
/deploy/docs/
/deploy/dist/
/deploy/coverage/
/deploy/coverage.sqlite
/dist/
/tests/MPh.ini
**/__pycache__
**/.pytest_cache
flake8.txt
.spyproject
.idea
*.lnk
.DS_Store
Thumbs.db
