/* Furo theme left-aligns text, but we have better taste. */
p {
    text-align: justify;
}

/* Furo theme does not actually respect the `:align: center` image option. */
img.align-center {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

/* Push bulleted lists a little closer to lead-in paragraph. */
p + ul.simple {
    margin-top: -6px;
}

/* Push ordered lists a little closer to lead-in paragraph. */
p + ol.simple {
    margin-top: -6px;
}
