/* Furo theme left-aligns text, but we have better taste. */
p {
    text-align: justify;
}

/* Push bulleted lists a little closer to lead-in paragraph. */
p + ul.simple {
    margin-top: -6px;
}

/* Push ordered lists a little closer to lead-in paragraph. */
p + ol.simple {
    margin-top: -6px;
}

/* Hide edit button. */
.edit-this-page {
    visibility: hidden;
}

/* Hide page footer. */
.bottom-of-page {
    visibility: hidden;
    margin:     0;
    padding:    0;
}
